
name: Export Constants

on:
  workflow_dispatch:
    inputs:
      branch:
        type: string
        description: "Branch to export"
        required: true
        default: "installer_ci"

  workflow_call:
    inputs:
      branch:
        type: string
        description: "Branch to export"
        required: true
        default: "installer_ci"

permissions:
  contents: read
  actions: read

jobs:
  export:

    runs-on: ubuntu-latest
    steps:
    - name: Clone Repo
      uses: actions/checkout@v5
      with: 
        ref: ${{ inputs.branch }}
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: LJM_CONSTANTS_${{ inputs.branch }}
        path: ${{github.workspace}}/LabJack/*
